<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal deonde podrá crear sus propios juegos! <%= title %></p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>
<h3>Bienvenido a <%= title %></h3>
 El portal donde podrá crear sus propios juegos!
