<h1>Autor del Proyecto </h1>
<br><br>
<img src="../images/foto.png" alt="Foto Autor" height="133" width="101">
Nombre: <%= name %> <p>
<br>
<p>País: Colombia</p>
<br>
<p>Ciudad: Bogotá</p>
<br>
<p>Email: ronaldavidhoyos@gmail.com</p>
