<h1>Autor del Proyecto </h1>
<br><br>
<img src="../../public/images/foto.png" alt="Smiley face" height="101" width="133">
<br>
Nombre: <%= autor %> <p>
<br>
<p>País: Colombia</p>
<br>
<p>Ciudad: Bogotá</p>
<br>
<p>Email: ronaldavidhoyos@gmail.com</p>
